<ul class="main-header">
    <h3>{{this.title}}</h3>
    <LinkTo @route="home"> home</LinkTo>
    <LinkTo @route="about"> about</LinkTo>
    <LinkTo @route="customer"> customer</LinkTo>
    <LinkTo @route="organisation"> organisation</LinkTo>
    <LinkTo @route="organisation.dashboard"> org-dashboard</LinkTo>
    <LinkTo @route="reseller"> reseller</LinkTo>
    <LinkTo @route="reseller.dashboard"> res-dashboard</LinkTo>
    {{!-- {{#link-to "home"}}<li>home</li>{{/link-to}}
    {{#link-to "about"}}<li>about</li>{{/link-to}} --}}
</ul>